//
   Created by Administrator on 2016/3/20.



include  adminnav.jade
.right
    .right-con
        .container-fluid
            .ht300.w12.people.mr-auto.ml-auto
            .row
                .ht300.col12.plane
                .ht300.col12.diary
script(type='text/javascript').
    var pieData = #{pieData};
script(src="javascripts/plugin/require.js" data-main="javascripts/plugin/main.js")
script(src="javascripts/model/admin.js")
