//
                            Created by Administrator on 2016/3/20.
include  adminnav.jade
.right
    .right-con
        .container-fluid
            .row
                .col18.offset3
                    -for(var i = 0;i < 6;i ++){
                        .row.border-b.padding.overflow-h
                            .col6.l-ht40
                                span.ml10.vertical-a-m 我的第一条动态
                            .col4.l-ht40
                                span 发表人 ：
                                span.font-6 刘星海
                            .col6.l-ht40
                                span 发表时间 ：
                                span.font-6 2015年12月11日
                            .col4.l-ht40
                                span 获得赞数 ：
                                span.font-orange 10
                            .col2.l-ht40
                                span.vicons.font-red.font20.cursor-p &#xe760;
                                    input(type='hidden' value='')
                    -}
script(src="/javascripts/plugin/require.js" data-main="/javascripts/plugin/main.js")
script(src="/javascripts/model/adminDynamic.js")
                         