//
   Created by jimliu on 2016/1/20.

extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto
            .row.mt20
                .col14.pr30.offset2
                    .mt10
                        textarea(rows="4" style="font-size:14px;").pt10.per100.form-control
                    .mt10.overflow-h
                        label(for="uphead").fl.font14.pos-r.overflow-h.l-ht30.pl10.pr10.tc.bg-green-4d.font-white.cursor-p.radius5 上 传 图 片
                            input(type="file" accept="image/*")#uphead.pos-a.top-200
                        .fr.l-ht30.font-white.font14.w-110.bg-green-4d.tc.cursor-p.radius5 发布
                    ul.list-unstyled
                        -for(var i = 0;i < 5; i++){
                            li.padding.box-s-2.mt20.overflow-h
                                img(src="images/user.jpg" width="40" height="40").fl.img-circle.mr20
                                .font14.pt10 刘星海
                                .mt10.l-ht30 我的第一条动态
                                .vicons.fr.font18.cursor-p.mr20.font-orange &#xe6e0;
                                    span.font12.ml5.font-6 1
                        -}
                .col8.ht500
                    .ht50.mt20
                        img(src="images/user.jpg" width="80" height="80").img-circle.fl.mr20

                        p.font14.font-9.pt30 你在我记忆里
        include footer.jade
