.row.bg-main.per100.padding27
  .w19.ml-auto.mr-auto
    .fl
      ul.list-unstyled.overflow-h
        li.fl.ml30
          a(href="#").font-special 服务条款
        li.fl.ml30
          a(href="#").font-special 服务条款
        li.fl.ml30
          a(href="#").font-special 服务条款
      p.per100.font-special.ml30
        Copyright © 2015-2016 jim liu All Rights Reserved
    .fr
      ul.list-unstyled.overflow-h
        li.fl.ml30
          a(href="#").vicons.font-special.font40 &#xe726;   
        li.fl.ml30
          a(href="#").vicons.font-special.font40 &#xe725;        
