doctype html
html(lang="zh-CN")
  head
    meta(charset='utf-8')
    meta(name="keywords" content="")
    meta(name="description" content="")
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
