doctype html
html(lang="zh-CN")
  head
    meta(charset='utf-8')
    meta(name="keywords" content="Migo个人健身系统")
    meta(name="description" content="Migo个人健身系统 个人健身")
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
