.row.ht60.per100.bg-main.mb0
  .w19.ml-auto.mr-auto
    ul.list-unstyled.migo-nav.overflow-h.ht80.mb0
      li.fl.mt8
        a(href="/")
            img(src="/images/logo1.png")
      li.fl.nav-border.tc.ht30.mt18.ml80
        a(href="/").font16.font-white 首页
      li.fl.nav-border.tc.ht30.mt18.ml50
        a(href="/plane").font16.font-white 健身计划
      li.fl.nav-border.tc.ht30.mt18.ml50
        a(href="/dynamic").font16.font-white 健身动态
      li.fl.nav-border.tc.ht30.mt18.ml50
        a(href="/diary").font16.font-white 健身日记
      li.fl.nav-border.tc.ht30.mt18.ml50
        a(href="/usercenter").font16.font-white 个人中心

      -if(!user)
        li.fr.mt14
          a(href="/login").font-white
            i.vicons.font20 &#xe75f;
            span.font12 登录
      -else
        -if(user.user == 'admin')
          li.fl.nav-border.tc.ht30.mt18.ml50
            a(href="/admin" target="_blank").font16.font-white 系统管理
        li.fr.mt6.tans
          a(href="/usercenter")
            img(src="/#{user.userlogo}" width="40" height="40").img-circle.vertical-a-m.mr10
            span.font12.vertical-a-m #{user.user}
          a(href="/logout").ml10
            span 退出
            span.vicons &#xe641;
  
    