//
   Created by jimliu on 2016/1/17.
extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto.artical
            .border-b-2.font16.l-ht50 全部训练计划
            //.border-b-1.l-ht50.pl30
            //    span.font-9 器械 ：
            //    span.ml30.bg-green-4d.pl10.pr10.pt4.pb4.cursor-p 全部
            .border-b-1.l-ht50.pl30.t-pos
                span.font-9 部位 ：
                span.ml30.bg-green-4d.pl10.pr10.pt4.pb4.cursor-p.font-white(data="全身") 全身
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="胸部") 胸部
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="肩部") 肩部
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="背部") 背部
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="手臂") 手臂
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="腿部") 腿部
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="腰腹") 腰腹
            .border-b-1.l-ht50.pl30.level
                span.font-9 难度 ：
                span.ml30.bg-green-4d.pl10.pr10.pt4.pb4.cursor-p.font-white 全部
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="初级") 初级
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="中级") 中级
                span.ml30.pl10.pr10.pt4.pb4.cursor-p(data="高级") 高级
            .row.mt10
                include plane-list.jade
            .row.tc.mt20
                .display-ib.bg-c.padding.cursor-p
                    a 加载更多
        include footer.jade
    script(src="javascripts/plugin/require.js" data-main="javascripts/plugin/main.js")
    script(src="javascripts/model/plane.js")
