//
   Created by jimliu on 2016/1/17.
extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto
            .border-b-2.font16.l-ht50 全部训练计划
            .border-b-1.l-ht50.pl30
                span.font-9 器械 ：
                span.ml30.bg-green-4d.pl10.pr10.pt4.pb4.cursor-p 全部
            .border-b-1.l-ht50.pl30
                span.font-9 部位 ：
                span.ml30.bg-green-4d.pl10.pr10.pt4.pb4.cursor-p 全部
            .border-b-1.l-ht50.pl30
                span.font-9 难度 ：
                span.ml30.bg-green-4d.pl10.pr10.pt4.pb4.cursor-p 全部
            .row.mt10
                include plane-list.jade
            .row.tc.mt20
                .display-ib.bg-c.padding.cursor-p
                    a 加载更多
        include footer.jade
    script(src="javascripts/plugin/require.js" data-main="javascripts/plugin/main.js")
    script(src="javascripts/model/login.js")
