//
   Created by jimliu on 2016/1/20.
extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto
            .row.mt20
                .col16.pr50
                   .l-ht50.font16.border-b-1 发表日记
                   .row.pl10.mt30
                        .col2.font14.pt10 标题 :
                        .col22
                            input(type="text").form-control
                   .row.pl10.mt20
                        .col2.font14.pt10 封面 :
                        .col22
                            label(for="uphead").fl.font14.pos-r.overflow-h.l-ht30.pl40.pr40.tc.bg-green-4d.font-white.cursor-p 上 传 封 面
                                input(type="file")#uphead.pos-a.top-200
                            span.fl.font-9.pt10.ml30 封面为500*500像素的图片
                   .row.pl10.mt20
                        .col2.font14.pt10 内容 :
                        .col22
                   .row.pl10.mt20
                       .col2.font14.pt10
                       .col22
                            .l-ht30.font-white.font14.w-110.bg-green-4d.tc.cursor-p 提交
                .col8.ht600.pl30
                    .l-ht50.font16.border-b-1 日记须知
                    .font-9.mt30
                        p 1.决绝广告：日记内容必须健康，符合国家相关法律法规规定。
                        p 2.审核时间：您发布的文章均需经工作人员审核；审核通过后可在健身日记栏目中展示，审核进程请在“我的健身日记”栏目查看。

        include footer.jade
