//
   Created by jim on 2016/1/14.

extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto.artical
            .row.mt20
                .col6.ht600
                    ul.list-unstyled.left-nav
                        li(data="data").ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d.border-l-p
                            span.vicons.mr10 &#xe657;
                            span 个人资料
                        li(data="head").ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d
                            span.vicons.mr10 &#xe6d9;
                            span.mr10 头像设置
                        //li.ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d
                        //    span.vicons.mr10 &#xe645;
                        //    span.mr10 邮箱设置
                        li(data="pass").ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d
                            span.vicons.mr10 &#xe645;
                            span.mr10 修改密码
                //个人资料
                .col18.pl30.data
                    .row.mt30.font14
                        .col2.offset3
                            .justify.pt6 性别
                        .col8.pt6
                            span.mr10  :
                            input(type="radio" value="man" name="sex").vertical-a-m.ml10
                            span.ml10 男
                            input(type="radio" value="woman" name="sex").vertical-a-m.ml10
                            span.ml10 女
                    .row.mt30.font14
                        .col2.offset3
                            .justify.pt6 年龄
                        .col8
                            span.mr10  :
                            input.per90.border-special.pl5.ht24.form-control(name="age")
                    .row.mt30.font14
                        .col2.offset3
                            .justify.pt6 身高
                        .col8
                            span.mr10  :
                            input.per90.border-special.pl5.ht24.form-control(name="height" placeholder="cm")
                    .row.mt30.font14
                        .col2.offset3
                            .justify.pt6 体重
                        .col8
                            span.mr10  :
                            input.per90.border-special.pl5.ht24.form-control(name="weight" placeholder="kg")
                    .row.mt30.font14
                        .col2.offset3
                            .justify.pt16 个性签名
                        .col8
                            span.mr10.vertical-a-m  :
                            textarea.per90.border-special.pl5.ht24.form-control.vertical-a-m(name="signature")
                    .row.mt10
                        .col10.offset8.errorMsg.font-red.display-n 错误信息
                    .row.mt30
                        .col8.offset5.tc
                            button.ht30.font-white.btn.btn-purple.saveData  保存设置
                //头像设置
                .col18.pl30.head.display-n
                    .row
                        .col6.offset3.ht190.border.overflow-h#user-logo
                            img(src="#{user.userlogo}").per100

                        .col4.pl30.pt50
                            input(type="hidden")#head-logo
                            label(for="choosePic").pos-r.display-b.per100.l-ht30.bg-main.tc.font-white.cursor-p 选择图片
                                input(type="file" accept='image/*')#choosePic.pos-a.top-200
                            span.display-b.per100.tc.bg-green-4d.font-white.cursor-p.per100.l-ht30.upload 上传图片
                    .row
                        .offset3.col10.mt20.errorMsg.font-red.display-n 错误信息

                //修改密码
                .col18.pl30.pass.display-n
                    .row.mt30
                        .col2.offset4
                            .justify.pt10 当前密码
                        .col10
                            span.mr10.ml10  :
                            input.per80.border-special.pl5.ht30.form-control.nowPass
                    .row.mt30
                        .col2.offset4
                            .justify.pt10 新密码
                        .col10
                            span.mr10.ml10  :
                            input.per80.border-special.pl5.ht30.form-control.newPass
                    .row.mt30
                        .col2.offset4
                            .justify.pt10 确认新密码
                        .col10
                            span.mr10.ml10  :
                            input.per80.border-special.pl5.ht30.form-control.cnewPass
                    .row
                        .col10.offset8.errorMsg.font-red.display-n 错误信息
                    .row.mt30
                        .col8.offset5.tc
                            button.ht30.font-white.btn.btn-purple.update  修改密码
                        
        include footer.jade
        script(src="javascripts/plugin/require.js" data-main="javascripts/plugin/main.js")
        script(src="javascripts/model/setprofile.js")