//
   Created by jim on 2016/1/14.

extends layout
block content
    .container-fluid
        include nav.jade
        .w19.ml-auto.mr-auto
            .row.mt20
                ul.list-unstyled
                    li.ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d
                        span.vicons.mr10 &#xe657;
                        span 个人资料
                    li.ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d
                        span.vicons.mr10 &#xe66e;
                        span.mr10 头像设置
                    li.ht60.border-b.padding.pos-r.l-ht40.font14.cursor-p.pl50.font-h-4d
                        span.vicons.mr10 &#xe72b;
                        span.mr10 邮箱设置

        include footer.jade