 @font-face{
  font-family: hou;
  src:url(font/FZ.TTF) format('truetype');

}
body,button{font-family: hou; overflow-x: hidden;}
.transform45{
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.justify {
    text-align:justify;
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .justify:after{
        content:".";
        display: inline-block;
        width:100%;
        overflow:hidden;
        height:0;
    }
}
.xh-scale-6 li:hover img{ transform: scale(1.6, 1.6); -moz-transform: scale(1.6, 1.6); -webkit-transform: scale(1.6, 1.6); transition: 1s; -moz-transition: 1s; -webkit-transition: 1s;}
.xh-see{transition: 1s; -moz-transition: 1s; -webkit-transition: 1s;}
.xh-scale-6 li:hover .xh-see{transform: scale(1.6, 1.6); -moz-transform: scale(1.6, 1.6); -webkit-transform: scale(1.6, 1.6); transition: height 1s; -moz-transition: height 1s; -webkit-transition: height 1s;}
/* * * * */
.box-3{box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);}
.box-5{box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);}
.blur25 {-webkit-filter: blur(60px);-moz-filter: blur(60px);-o-filter: blur(60px);-ms-filter: blur(60px);filter: blur(60px);filter: url(font/blur.svg#blur);/*svg文件，必须  FF ie10*/ filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);}
.blur6 {-webkit-filter: blur(6px);-moz-filter: blur(6px);-o-filter: blur(6px);-ms-filter: blur(6px);filter: blur(6px);filter: url(font/blur.svg#blur);/*svg文件，必须  FF ie10*/ filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);}
.opacity80{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.overflow-y{overflow-x: hidden; overflow-y: scroll;}
.bg-trans-white8{background: rgba(255, 255, 255, 0.8);}
.ht_100{ height: 100%;}
.display-t{ display: table;}
.display-t-c{ display: table-cell;}
.vertical-a-m{ vertical-align: middle;}
.scale-6 li a img:hover, .scale-6 img:hover, .scale-6 a img:hover { transform: scale(1.6, 1.6); -moz-transform: scale(1.6, 1.6); -webkit-transform: scale(1.6, 1.6); transition: 1s; -moz-transition: 1s; -webkit-transition: 1s; border: 5px solid #d3d3d3; }
.work-break {word-break: break-all;word-wrap: break-word;}
.scale-hover-2 li a img:hover, .scale-hover-2 img:hover, .scale-hover-2 a img:hover { transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); -webkit-transform: scale(1.2, 1.2); transition: 1s; -moz-transition: 1s; -webkit-transition: 1s; z-index: 100; }
.scale-hover-2 li a img:hover, .scale-hover-2 img:hover, .scale-hover-2 a img:hover{
	-moz-animation:oneRotate  paused;
    -webkit-animation:oneRotate  paused;
    animation:oneRotate paused;
    
    -moz-animation:twoRotate paused;
    -webkit-animation:twoRotate paused;
    animation:twoRotate paused;
}
.one{
    -moz-animation:oneRotate 7s linear forwards alternate infinite ;
    -webkit-animation:oneRotate 7s linear forwards alternate infinite;
    animation:oneRotate 7s linear forwards alternate infinite;
}
.two{
    -moz-animation:twoRotate 7s linear alternate infinite;
    -webkit-animation:twoRotate 7s linear alternate infinite;
    animation:twoRotate 7s linear alternate infinite;
}
@-moz-keyframes oneRotate {
    0%{transform: rotateY(0deg) scale(1.0) skewX(0deg);z-index: 10;}
    40%{transform: rotateY(0deg) scale(1.0) skewX(0deg);z-index: 10;}
    50%{transform: rotateY(130deg) scale(1.0) skewX(0deg);}
    60%{transform: rotateY(180deg) scale(1.0) skewX(0deg); z-index: 98;}
    100%{transform: rotateY(180deg) scale(1.0) skewX(0deg); z-index: 98;}
}
@-moz-keyframes twoRotate {
    0%{transform: rotateY(0deg) scale(1.0);z-index: 98;}
    40%{transform: rotateY(0deg) scale(1.0);z-index: 98;}
    50%{transform: rotateY(130deg) scale(1.0) skewX(0deg);z-index: 10;}
    60%{transform: rotateY(180deg) scale(1.0) skewX(0deg);z-index: 10;}
    100%{transform: rotateY(180deg) scale(1.0) skewX(0deg); z-index: 10;}
}
@-webkit-keyframes oneRotate {
    0%{transform: rotateY(0deg) scale(1.0) skewX(0deg);z-index: 10;}
    40%{transform: rotateY(0deg) scale(1.0) skewX(0deg);z-index: 10;}
    50%{transform: rotateY(130deg) scale(1.0) skewX(0deg);}
    60%{transform: rotateY(180deg) scale(1.0) skewX(0deg); z-index: 98;}
    100%{transform: rotateY(180deg) scale(1.0) skewX(0deg); z-index: 98;}
}
@-webkit-keyframes twoRotate {
    0%{transform: rotateY(0deg) scale(1.0);z-index: 99;}
    40%{transform: rotateY(0deg) scale(1.0);z-index: 99;}
    50%{transform: rotateY(130deg) scale(1.0) skewX(0deg);z-index: 10;}
    60%{transform: rotateY(180deg) scale(1.0) skewX(0deg);z-index: 10;}
    100%{transform: rotateY(180deg) scale(1.0) skewX(0deg); z-index: 10;}
}
.overflow-h{overflow:hidden;}
.bg-main{background:#584f60;}
.migo-nav a,.migo-nav a:hover{color:#fff;}
.nav-border:hover{border-bottom: 2px solid #fff; transition: border .2s ease-in;}
.border-r{border-right: 1px solid #ccc;}
.padding27{padding: 27px 0;}
.tans img{transition:-moz-transform .5s,transform .5s,-webkit-transform .5s,-o-transform .5s;}
.tans:hover img{
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}
.body-img{background: url('../images/1600x1000.jpg') no-repeat;background-size: 2000px;}
.border-purple{border-color: #584f60;}
.bg-t-0{background: rgba(0,0,0,0.3);}
.bg-t-0:hover{background: rgba(0,0,0,0.6);}
.bg-green-4d{background: #4DB3A2;}
.w-35{width: 35px;}
.w-40{width: 40px;}
.w-80{width: 80px;}
.w-270{width:270px;}
.w-110{width: 110px;}
.w-1000{width: 1000px;}
.border-n{border:none;}
.cursor-p{cursor: pointer;}
.mt110{margin-top: 110px;}
.top-200{top: -200px;}
.hover-shadow:hover{box-shadow: 0 0 10px #584f60;}
.btn-purple { color: #fff; background-color: #584f60; border-color: #584f60; border-width: 1px; border-style: solid; }
.btn-purple:hover { background-image: -moz-linear-gradient(top, white, #7C6A8C); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7C6A8C), color-stop(1, #7C6A8C)); }
.font-c-4d{color: #4DB3A2;}
.font-c-purple{color: #584f60;}
.box-s-4d:hover{box-shadow: 0 0 10px #4DB3A2;}
.box-s-58:hover{box-shadow: 0 0 10px #584f60;}
.box-s-c5:hover div{box-shadow: 0 1px 5px #c5c5c5;}
.li-scale:hover img{ transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transition: 1s; -moz-transition: 1s; -webkit-transition: 1s; }
.border-l-p{border-left: 3px solid #584f60; }